# Edit notes
alias n="vim ~/notes.md"
# Commit and push notes to Github gist
np() {
  cd /Users/max/Documents/notes
  git commit -am "Autocommit from alias"
  git push
  cd -
}

###############################################################################
## Meta

# Reload .zshrc
alias z!="source ~/.zshrc && echo '.zshrc reloaded!'"

alias va="vim ~/.aliases"

# Show current aliases from ~/.aliases
alias adoc="~/dotfiles/adoc.rb ~/.aliases"

# Show most frequently used commands
alias most="awk '{arr[\$0]++}END{for (a in arr) print arr[a], a}' ~/.histfile | sort -rn | head -n 20"

# Moves to ~/dotfiles and symlinks to ~
dot() {
  echo "Moving $1 to ~/dotfiles and symlinking"
  mv $1 /Users/max/dotfiles/$1
  ln -s /Users/max/dotfiles/$1 /Users/max/$1
}

###############################################################################
## Utilities
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'

alias c="clear"

## Use GNU Core Utils ls for additional options
## `brew install coreutils`
alias l="gls -lAhF --color --group-directories-first --ignore='.DS_Store'"
alias rm="grm --preserve-root"

# Copy to clipboard
cb() {
  echo -n "$*" | pbcopy
}

###############################################################################
## Git

alias g="git"
alias gdiff="git diff --minimal --color"
alias gl="git log --abbrev-commit --notes --date=iso --graph"
alias gs="git status"
alias ga="git add"
alias gpl="git pull"
alias gp="git push"
alias gco="git checkout"
alias gc="git commit"

# git branch with color
gb() {
  if [ ! -z $1 ]
  then
    git branch $*
  else
    git branch -a --color
  fi
}

###############################################################################
## Programs

alias r="rails"
alias v="vim"

# Extracts most archives
extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1     ;;
      *.tar.gz)    tar xzf $1     ;;
      *.bz2)       bunzip2 $1     ;;
      *.rar)       unrar e $1     ;;
      *.gz)        gunzip $1      ;;
      *.tar)       tar xf $1      ;;
      *.tbz2)      tar xjf $1     ;;
      *.tgz)       tar xzf $1     ;;
      *.zip)       unzip $1       ;;
      *.Z)         uncompress $1  ;;
      *.7z)        7z x $1        ;;
      *)     echo "'$1' cannot be extracted via extract()" ;;
       esac
   else
       echo "'$1' is not a valid file"
   fi
}
